@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-box: #181212;
  --color-gray-text: #9c9c9c;
  --color-yellow-stroke: #486B2D;
  --color-gray-stroke: #707070;
  --font-ibm-plex-mono: 'IBM Plex Mono', monospace;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-abril-fatface: 'Abril Fatface', monospace;
  --font-raleway: 'Raleway', sans-serif;
  --shadow-box: 0 7px 14px 0px #495D31;
  --font-lato: 'Lato', sans-serif;
  --img-bg-shape: url('/bg-shape-light.png');
  --background-image-forecast: url('/forecasting.png');
  --background-image-sentiment: url('/sentiment.png');
  --background-image-kahim: url('/foto-kahim.jpeg');
  --background-image-web: url('/web1.png');
  --color-blue-icon: #1E2235;
  --color-gray-form: #272222;
  --spacing-scroll-offset: 6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}